<ion-view view-title="自定义图标">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
          <div class="list">

              <div class="item item-button-right"  ng-click="onClick(0)">

                  <span  ng-class= "{'thsicon-cloudy':currentId!==0,'thsicon-cloudy3':currentId==0}" style="color: #0c63ee;font-size: 60px" ></span>

              </div>
              <div class="item item-button-right" ng-click="onClick(1)"  >

                  <span     ng-class= "{'thsicon-sun':currentId!==1,'thsicon-sun3':currentId==1}" style="color: #0c63ee;font-size: 60px" ></span>
              </div>

              <div class="item item-button-right" ng-click="onClick(2)" >

                  <span     ng-class= "{'thsicon-cloud':currentId!==2,'thsicon-cloud4':currentId==2}" style="color: #0c63ee;font-size: 60px" ></span>

              </div>

              <div class="item item-button-right" ng-click="onClick(3)">
                  <span     ng-class= "{'thsicon-weather4':currentId1!==3,'thsicon-weather5':currentId==3}" style="color: #0c63ee;font-size: 60px" ></span>

              </div>


          </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
            <span class="thsicon-cloud">

				</span>


            You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
